@font-face {
  font-family: Inter;
  src: url(/Fonts/Inter-VariableFont_opsz\,wght.ttf);
}
:root {
  --text-color: #696969;
  --heading-color-main: #2f4f4f;
  --second-text-color: #080808;
}
body {
  background: linear-gradient(#d3d3d3 15%, #c0c0c0 85%);
  font-family: Inter, sans-serif;
}
header {
  background-color: #808080;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 200px;
}
.site-navigation {
  font-size: 14px;
  list-style: none;
}
h1,
h2 {
  color: var(--heading-color-main);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
h1::after {
  content: '✿';
}
p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
/*Цей селектор має найбільшу специфічність (1,0,1)*/
#other-information > p {
  color: var(--second-text-color);
}
.game-description {
  color: var(--text-color);
  font-size: 16px;
  list-style: none;
}
form {
  font-size: 18px;
  color: var(--text-color);
}
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='date'] {
  border: 2px solid #101010;
  border-radius: 4px;
  background-color: #a9a9a9;
}
.first-name {
  color: #a07a40;
}
textarea {
  background-color: #a9a9a9;
  border-radius: 6px;
}
button {
  background-color: #303030;
  color: #66ffcc;
  border: 2px solid #101010;
  border-radius: 6px;
}
button:hover {
  background-color: #303030;
  color: #707070;
  border: 2px solid #101010;
  border-radius: 6px;
}
footer {
  background-color: #808080;
}
address {
  font-size: 14px;
  font-style: normal;
}
table,
th,
td {
  border-collapse: collapse;
  border: 2px, solid, black;
}
td {
  text-align: right;
}
th {
  text-align: center;
}
