:root {
  --text-color: #696969;
  --heading-color-main: #2f4f4f;
  --second-text-color: #080808;
}
body {
  background: linear-gradient(#d3d3d3 15%, #c0c0c0 85%);
}
header {
  background-color: #808080;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 200px;
}
.site-navigation {
  font-size: 14px;
  list-style: none;
}
.site-navigation li:last-of-type {
  font-style: italic;
}
h1,
h2 {
  color: var(--heading-color-main);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
h1::after {
  content: "✿";
}
h1::first-letter {
  font-size: 30px;
  color: var(--second-text-color);
}
.student-description::first-line {
  color: #202020;
}
p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
a:not(.valorant-site) {
  color: #900000;
}
/*Цей селектор має найбільшу специфічність (1,0,1)*/
#other-information > p {
  color: var(--second-text-color);
}
.hobby-description + p {
  color: var(--heading-color-main);
}
.game-description {
  color: var(--text-color);
  font-size: 16px;
  list-style: none;
}
.game-description li:first-child {
  color: #080808;
}
.game-description li:nth-child(2) {
  color: #303030;
}
.game-description li:last-child {
  color: #404040;
}
form {
  font-size: 18px;
  color: var(--text-color);
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"] {
  border: 2px solid #101010;
  border-radius: 4px;
  background-color: #a9a9a9;
}
textarea {
  background-color: #a9a9a9;
  border-radius: 6px;
}
button {
  background-color: #303030;
  color: #66ffcc;
  border: 2px solid #101010;
  border-radius: 6px;
}
button:hover {
  background-color: #303030;
  color: #707070;
  border: 2px solid #101010;
  border-radius: 6px;
}
footer {
  background-color: #808080;
}
address {
  font-size: 14px;
  font-style: normal;
}
